<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378096264695-vvm3fin5jvq3m0k3jq84hdba7f6fhrbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378096264695-vvm3fin5jvq3m0k3jq84hdba7f6fhrbt</string>
	<key>API_KEY</key>
	<string>AIzaSyCXeJx9EYOWcfT54hih6v2ytfRdqWhWBWY</string>
	<key>GCM_SENDER_ID</key>
	<string>378096264695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.helpme</string>
	<key>PROJECT_ID</key>
	<string>helpme-f222b</string>
	<key>STORAGE_BUCKET</key>
	<string>helpme-f222b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378096264695:ios:44c46a650c3358ee187af2</string>
</dict>
</plist>